.blogpost
  .title
    a(href='/post/#{post._id}')
      h2.ptitle
        != post.title
  - if (user)
    .pcontrols
      a(href='/edit/#{post._id}') edit
      a(href='/del/#{post._id}') delete
  .ac-group
    span.ui-icon.ui-icon-tag
    - each t in post.tags
      span.tag
        a(href='/tag/#{t}')!= t
  .cwrapper.ac-group
    span.ui-icon.ui-icon-comment
    != post.comments.length
  .ac-body
    != post.body