.blogpost
  .title
    a(href='/post/#{post._id}')
      h2.ptitle
        != post.title
  - if (user)
    .pcontrols
      a(href='/edit/#{post._id}') edit
      a(href='/del/#{post._id}') delete
  .tags
    .ui-icon.ui-icon-tag tags:
    - each t in post.tags
      span.tag
        a(href='/tag/#{t}')!= t
  .body
    != post.body