extends layout

block content
  - each post in posts
    include blogpost
  #pages page : :
    - var pp = Math.min(+page - 1, total)
    - var np = +page + 1 
    - if (pp === 0)
      span prev
    - else
      a(href='/#{pp}') prev
    - if (np > total)
      span next
    - else
      a(href='/#{np}') next
    