!!!
html
  head
    title blog
    link(rel='stylesheet', href='/styles/style.css')
    script(src="http://yui.yahooapis.com/3.5.1/build/yui/yui-min.js")
    script(src="/js/ui.js")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3192288-12']);
      _gaq.push(['_setDomainName', 'cirstei.ro']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body.yui3-skin-night
    #header
      #logo
      #userbox
        - if('undefined' !== typeof user && user.username)
          | Hello #{user.username}!
          a(href='/logout') Log out
        - else
          | anonymous |
          a(href='/login') Log in
      #menu.yui3-menu.yui3-menu-horizontal
        .yui3-menu-content
          ul
            li.yui3-menuitem 
              a.yui3-menuitem-content(href='/') Home
            li.yui3-menuitem
              a.yui3-menuitem-content(href='/login') Log in
            li.yui3-menuitem
              a.yui3-menuitem-content(href='/logout') Log out              
    #main
      block content
