body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  background-color: #252525;
}
a {
  text-decoration: none;
  color: #ffbb00;
}


#header a{
  text-decoration:none;
  color:#fff;
}

#posts, #nav{
  display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;

}
#posts{
  width:75%;
}
#nav{
  width:25%;
}

#pagewrapper {
  width:1000px;
  margin:0 auto;
  position:relative;
  background-color: #000;
  color: #eee;
}

#menu{
  clear:both;
}

#logo {
  padding: 0.5em;
  float:left;
  font-size:3em;
}
#userbox{float: right;}

.error{
  color: red;
}

#editortoolbar{
  background:#ccc;
  width:100%;
  height:2em;
}
.tbb {
  float: left;
}

#pages a {
  text-decoration: none;
  color: #eee;
  padding-left: 0.5em;
}
#pages span {
  color: #999;
  padding-left: 0.5em;
}

.blogpost {
  margin: 1em;
}

.tag {
  border: solid 1px #bbb;
  background: #111;
  margin: 1px;
  padding:1px;
}

.pcontrols a {
  padding-left: 2px;
}

#menu{
  height:41px;
}

span.ui-button, span.tag, .ac-group span{
	float:left;
}

.ac-group{
	float:left;
	padding-right:1em;
}

a.ac-button { float:left; }

.ac-body{
	display:block;
	clear:left;
	padding-top:1em;
	padding-bottom: 2em;
	border-bottom: 2px #ccc dotted;
}

.ac-button{
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .4em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
}
.ac-button-icon-left .ui-icon {
	right: auto;
	left: .2em;
	margin-left: 0;
}
.ac-toolbar { padding: .5em; margin: 0; width:50%; }
.ac-toolbar .ac-buttonset { margin-right:1.5em; padding-left: 1px; }
.ac-toolbar .ac-button { font-size: 1em;  }

.ac-bar-element-group{
  padding-left: 2.1em;
  float: left;
}

.ac-unpublished {
  background-color: #171d26;
}