body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  background-color: #252525;
}
a {
  text-decoration: none;
  color: #ffbb00;
}


#header a{
  text-decoration:none;
  color:#fff;
}

#posts, #nav{
  display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;

}
#posts{
  width:75%;
}
#nav{
  width:25%;
}

#pagewrapper {
  width:1000px;
  margin:0 auto;
  position:relative;
  background-color: #000;
  color: #eee;
}

#menu{
  clear:both;
}

#logo {
  padding: 0.5em;
  float:left;
  font-size:3em;
}
#userbox{float: right;}

.error{
  color: red;
}

#editortoolbar{
  background:#ccc;
  width:100%;
  height:2em;
}
.tbb {
  float: left;
}

#pages a {
  text-decoration: none;
  color: #eee;
  padding-left: 0.5em;
}
#pages span {
  color: #999;
  padding-left: 0.5em;
}

.blogpost {
  margin: 1em;
}

.tag {
  border: solid 1px #bbb;
  background: #111;
  margin: 1px;
  padding:1px;
}

.pcontrols a {
  padding-left: 2px;
}

#menu{
  height:41px;
}
.ac-bar-element-group{
  padding-left: 2.1em;
  float: left;
  
}