body {
  /* padding: 50px; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}



.yui3-skin-night {
  background-color: #000;
  color: #eee;
}

#main, #header {
  width:1000px;
  margin:0 auto;
  position:relative;
}
#logo {float:left;}
#userbox{float: right;}